/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* hide the childs from dropdowns for tag resources taxonomy */
#newresource_tag_parent option.level-1,
.taxonomy-resource_tag #parent option.level-1 {
  display: none;
}

.toplevel_page_resources .tablenav.top,
.toplevel_page_resources .tablenav.bottom {
  display: none;
}

.toplevel_page_resources h2 {
  margin-bottom: 0;
}

.toplevel_page_resources .subsubsub {
  margin-bottom: 8px;
}

.wp-list-table.resources .manage-column:not(.column-primary),
td.published,
td.drafts,
td.trashed {
  text-align: center;
}

a[href="#resource-dummy-link"] {
  cursor:default;
  line-height: 0px !important;
  height: 8px !important;
}

a[href="#resource-dummy-link"]:hover,
a[href="#resource-dummy-link"]:focus,
a[href="#resource-dummy-link"]:active {
  cursor:default;
  color: rgba(240,245,250,.7) !important;
}

/*Hide parent option for tags*/
.taxonomy-resource_tag .term-parent-wrap,
#resource_tag-add > #newresource_tag_parent{
  display: none;
}
