@charset "UTF-8";
/*
Theme Name: Balance Custom theme
Theme URI: #
Author: Qloud.io
Author URI: http://Qloud.io/
Description: Custom framework
Version: 1.0
*/

/*Customized edit link*/
.frontend-edit-link-wrapper {
  background-color:#23282d;
  position:fixed;
  z-index:9999;
  right:0px;
  top:120px;
  width:40px;
  height:40px;
  color:#eee;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

.frontend-edit-link-wrapper a {
  height:40px;
  display:block;
  text-align:center;
  line-height:40px;
  width:30px;
  margin-left:5px;
  color:#eee;
  opacity:0.8;
  border-bottom:solid 1px #111;
}

.frontend-edit-link-wrapper a:hover {
  color: #00b9eb;
}
/*END Customized edit link*/
